@model Congratulator.Interface.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>@Model.Name @Model.Surname</h3>

<div>
    <hr />
    <div>
        <div class="m-3">
            @if (Model.ExsistingAvatar == null)
            {<img src="@("~/img/app/DefaultUser.jpg")" asp-append-version="true" alt="Фотография" width="200" height="200" class="rounded-circle" />}
            else
            {<img src="@("~/img/" + Model.ExsistingAvatar)" asp-append-version="true" alt="Фотография" width="200" height="200" class="rounded-circle" />}
        </div>
        <div class="m-3 lead">
            BirthDay: @Html.DisplayFor(model => model.BirthDay)
        </div>
    </div>

    <form asp-action="Delete" class="m-3">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>

</div>