@model Congratulator.Interface.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Details";
}


<h1>@Model.Name @Model.Surname</h1>

<div>
    <hr />
    <div>
        <div class="m-3">
            @if (Model.ExsistingAvatar == null)
            {<img src="@("~/img/app/DefaultUser.jpg")" asp-append-version="true" alt="Фотография" width="200" height="200" class="rounded-circle" />}
            else
            {<img src="@("~/img/" + Model.ExsistingAvatar)" asp-append-version="true" alt="Фотография" width="200" height="200" class="rounded-circle" />}
        </div>
        <div class="m-3 lead">
            BirthDay: @Html.DisplayFor(model => model.BirthDay)
        </div>
    </div>
</div>

<div class="m-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit <i class="bi bi-pencil-fill"></i></a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>